<div class="row-fluid">
  <%= render 'sidebar' %>
  <div class="span9">
    <h1>Manage Missional Teams</h1>
    <table class="table table-striped table-bordered">
      <thead>
        <th>Name</th>
        <th>MTL</th>
        <th>Members</th>
        <th></th>
      </thead>
      <% MissionalTeam.asc(:name).each do |team| %>
        <tr>
          <td><%= link_to team.name, missional_team_path(team.name) %></td>
          <td><%= team.mtls.sort.to_sentence.humanize %></td>
          <td><%= team.users.count %></td>
          <td><%= link_to "Edit", edit_missional_team_path(team.name) %></td>
        </tr>
      <% end %>
    </table>
    <%= link_to "New Team", new_missional_team_path, class: 'btn btn-success' %>
  </div>
</div>
