	<%= simple_form_for @group, :html => { :class => 'form-horizontal' } do |f| %>
    <legend><%= controller.action_name.capitalize %> Group</legend>

    <%= f.input :name %>
		<%= f.input :type, collection: ["Community Group","Missional Team"] %>
	  <%= f.input :user_ids, :label => 'Members', collection: @users, as: :check_boxes %>

    <div class="form-actions">
      <%= f.button :submit, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', manage_groups_path, :class => 'btn' %>
    </div>
<% end %>
