<div class="page-header">
<h1><%= @group.name %> <small><%= @group.type %></small></h1>
</div>

<h3>Members</h3>
<p>
  <ul>
  <% @group.members.each do |member| %>
  <li><%= link_to member.name, memeber %></li>
  <% end %>
  </ul>
</p>

<div class="form-actions">
  <%= link_to 'Back', manage_groups_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_group_path(@group), :class => 'btn' %>
  <%= link_to 'Delete', group_path(@group), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
