<div class="form-horizontal">
<h1>Create user</h1>
<p>Use the form below to create a new chvrch user.<br/></p>

<%= form_for @user, url: users_create_path do |f| %>
  <% if not @user.errors.empty? %>
    <div class="alert alert-block alert-error">
    <h3>The following fields need to be updated to complete registration:</h3>
    <a class="close" data-dismiss="alert">×</a>
    <ul>
    <% @user.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end%>
    </ul>
    </div>
  <% end %>

  <div class="control-group">
  <%= f.label :first_name, :class=>"control-label"%>
  <div class="controls">
  <%= f.text_field :first_name %>
  </div>
  </div>
  
  <div class="control-group">
  <%= f.label :last_name, :class=>"control-label"%>
  <div class="controls">
  <%= f.text_field :last_name %>
  </div>
  </div>

  <div class="control-group">
  <%= f.label :email, :class=>"control-label"%>
  <div class="controls">
  <%= f.email_field :email %>
  </div>
  </div>
  
  <% if can? :manage, Role %>
  <div class="control-group">
  <%= f.label :roles, :class=>"control-label" %>
  <div class="controls">  
    <% Role.asc(:name).each do |role| %>
      <% if role.name == 'attender'
           next
         end %>
      <%= check_box_tag "user[role_ids][]", role.name, @user.roles.include?(role) %>  
      <%= if role.name != 'cgl' and role.name != 'mtl'
            role.name.humanize 
          else
            role.name.upcase 
          end %>  
  <% end %>
  </div>
  </div>
  <% end %>
  
  <div class="control-group controls">
  <%= f.submit 'Create', :class => "btn btn-info" %>
  </div>
<% end %>
</div>
