<h1>@<%= @user.display_name %></h1>

<p>
  <b>Name</b><br>
  <%= @user.name %>
</p>

<p>
  <b>Email</b><br>
  <%= @user.email %>
</p>

<p>
  <b>Birthday</b><br>
  <%= @user.birthday.to_formatted_s(:long) if @user.birthday? %>
</p>

<p>
  <b>Phone</b><br>
  <%= number_to_phone(@user.phone, :delimiter => ' ') %>
</p>

<p>
  <b>Twitter</b><br>
  <%= '@' + @user.twitter_username if @user.twitter_username? %>
</p>

<p>
  <b>Facebook</b><br>
  <%= '/' + @user.facebook_url if @user.facebook_url? %>
</p>

<p>
  <b>Groups</b><br>
  <%= comma_seperated_links_for @user.groups %>
</p>

<% if can? :manage, Role %>
<p>
  <b>Role</b><br>
  <%= @user.role.name %>
</p>
<% end %>

<div class="form-actions">
  <%= link_to 'Edit', edit_user_path(@user), :class => 'btn' %>
  <% if can? :manage, User %>
  <%= link_to 'Delete', user_path(@user), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
  <%= link_to 'Back', manage_users_path, :class => 'btn'  %>
  <% end %>
</div>
