<h1>
<%= @user.name %>
<% if @user.member %> <span class="label label-important">Member</span><% end %>
<% if @user.role == :leader %> <span class="label label-success">Leader</span><% end %>
<% if @user.role == :elder %> <span class="label label-inverse ">Elder</span><% end %>
</h1>
<img src="http://placehold.it/140x140" class="img-rounded">
<p>
  <b>Username</b><br>
  <%= @user.display_name %>
</p>

<p>
  <b>Email</b><br>
  <%= @user.email %>
</p>

<p>
  <b>Age</b><br>
  <%= @user.age %>
</p>

<p>
  <b>Phone</b><br>
  <%= number_to_phone(@user.phone, :delimiter => ' ') %>
</p>

<p>
  <b>Twitter</b><br>
  <%= '@' + @user.twitter_username if @user.twitter_username? %>
</p>

<p>
  <b>Facebook</b><br>
  <%= '/' + @user.facebook_url if @user.facebook_url? %>
</p>

<p>
  <b>Groups</b><br>
  <%= comma_seperated_links_for @user.groups %>
</p>

<% if can? :manage, Role %>
<p>
  <b>Role</b><br>
  <%= @user.role %>
</p>
<% end %>

<div class="form-actions">
  <%= link_to 'Edit', edit_user_path(@user), :class => 'btn' %>
  <% if can? :manage, User %>
  <%= link_to 'Delete', user_path(@user), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
  <%= link_to 'Back', manage_users_path, :class => 'btn'  %>
  <% end %>
</div>
