<h1>Community Groups</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th> type</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @community_groups.each do |community_group| %>
      <tr>
        <td><%= community_group.id %></td>
        <td><%= link_to community_group._type, community_group_path(community_group) %></td>
        <td><%= community_group.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_community_group_path(community_group), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', community_group_path(community_group), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_community_group_path, :class => 'btn btn-primary' %>
