<!DOCTYPE html>
<html>
<head>
  <title>Church</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Le fav and touch icons -->
  <link rel="shortcut icon" href="images/favicon.ico">
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
</head>
<body>
<%= render :partial => "layouts/header" %>
<div class="alert alert-block alert-info hide">
<a class="close" data-dismiss="alert">×</a>
<h4 class="alert-heading">Alert</h4>
<%= notice %>
</div>
<div class="alert alert-block alert-error hide">
<a class="close" data-dismiss="alert">×</a>
<h4 class="alert-heading">Alert</h4>
<%= alert %>
</div>

<div class="container">
<%= yield %>
<%= render :partial => "layouts/footer" %>
</div>
</body>
</html>
