<!DOCTYPE html>
<html>
<head>
  <title>Church</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Le fav and touch icons -->
  <link rel="shortcut icon" href="images/favicon.ico">
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
</head>
<body>

<%= render :partial => "layouts/header" %>
<div class="container">
<% if notice %>
<div class="alert alert-block alert-info">
<a class="close" data-dismiss="alert">×</a>
<%= notice %>
</div>
<% end %>
<% if alert %>
<div class="alert alert-block alert-error">
<a class="close" data-dismiss="alert">×</a>
<%= alert %>
</div>
<% end %>
<%= yield %>
<%= render :partial => "layouts/footer" %>
</div>
<script>jQuery('a.bignum').typeButter();</script>
</body>
</html>
